# Docker Postgres related
POSTGRES_DB=price-pulse-db
POSTGRES_USER=price-pulse
POSTGRES_PASSWORD=changeMe

# Prisma
DATABASE_URL="postgresql://price-pulse:changeMe@localhost:5432/price-pulse-db?schema=public"

# App
JWT_SECRET="YOUR_SECRET_KEY"

# Valkey
VALKEY_HOST="localhost"
VALKEY_PORT=6379